<% div_for @profile do %>
<h2><%= @profile.full_name %>'s Public Profile</h2>
<p class="login_comment">If you were logged in, you could see a lot more! Login or register.</p>
<p class="profession"><span class="label">Profession:</span><%= @profile.profession %></p>
<p class="company"><span class="label">Company:</span><%= @profile.company %></p>
<p class="about"><span class="label">About <%= @profile.first_name %>:</span><%= @profile.about %></p>
<p class="created-at"><span class="label">Member since:</span><%= @profile.created_at %></p>
<p class="contact-count"><span class="label"># of Contacts:</span><%= @profile.contact_count %></p>
<% end %>

