<%= link_to "Register", :controller => 'auth', :action => 'register' %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% form_for @user, :url => authenticate_path do |u| %>
  <%= u.label :login, 'Login' %>:
  <%= u.text_field :login %><br />
  <%= u.label :password, 'Password' %>:
  <%= u.password_field :password %><br />
  <%= u.submit "Log in" %>
<% end %>
