		<div id="header">
		
			<div id="logo">
				<img src="images/logo.png" alt="Logo" />		
			</div>
			<!-- /logo -->
			
			<div id="claim">
				<img src="images/claim.png" alt="Hello World" />		
			</div>
			<!-- /logo -->
			
			<div id="meta">
			  <ul>
			    <li><%= link_to "Logout", :controller => 'auth', :action => 'logout' %></li>
			    <li><a href="">Imprint</a></li>
			    <li><a href="">About</a></li>
			  </ul>
			</div>
			<!-- /meta -->
			
			<div id="search">
				
			</div>
			<!-- /search -->
			
			<ul id="menu">
			  <li><%= link_to "Dashboard", dashboard_path, :class => "first" %></li>
			  <li><%= link_to "Messages (#{@message_count})", messages_path %></li>
			  <li><%= link_to "Contacts", contacts_path %></li>
			  <li><%= link_to "Profile", myprofile_path %></li>
			  <li><%= link_to "About", about_path, :class => "last" %></li>
        		</ul>
			<!-- /menu -->
			
				
		</div>	
		<!-- /header -->
		
		
		
		
		

