			<h1>Profile</h1>
		
			<div id="col-one">
				
				<div class="profile-image">
				<img src='<%= image_path(@profile.image) %>'  />
				</div>
				<!-- /profile-image -->
				
				<div class="profile-actions">
					<a href="#" title="">&raquo; Upload new image</a>
					<a href="#" title="">&raquo; Edit profile</a>
				</div>
				<!-- /profile-actions -->
				
				<h2>User's profile updates (<%= @profile.statuses.count %>)</h2>
					
				<div class="profile-stream">
				  <%= render :partial => 'status', :collection => @profile.statuses %>
				</div>
				<!-- /profile-stream -->
				
			</div>
			<!-- /col-one -->
			
			<div id="col-two">
				<div class="profile-center">
					
					<h3><%= @profile.full_name %></h3>
					<p>UserTitle</p>
					
					<div class="profile-center-company">
						<strong>Company Name</strong><br />
						Street 4001<br />
						1000 Cityname
					</div>
					
					<h4>About Me</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					
					<h4>Contact Data</h4>
    <%= yield %>
					
					<div class="profile-center-contact-label">Telephone</div>
					<div class="profile-center-contact-data">0241 400 85 662</div>
					<div class="clear"></div>
					<!-- /item -->
					<div class="profile-center-contact-label">Telephone</div>
					<div class="profile-center-contact-data">0241 400 85 662</div>
					<div class="clear"></div>
					<!-- /item -->
					<div class="profile-center-contact-label">Telephone</div>
					<div class="profile-center-contact-data">0241 400 85 662</div>
					<div class="clear"></div>
					<!-- /item -->
					<div class="profile-center-contact-label">Telephone</div>
					<div class="profile-center-contact-data">0241 400 85 662</div>
					<div class="clear"></div>
					<!-- /item -->
					<div class="profile-center-contact-label">Telephone</div>
					<div class="profile-center-contact-data">0241 400 85 662</div>
					<div class="clear"></div>
					<!-- /item -->
					
				</div>
				
				<a href="#" title="" class="button-blue">Send Message</a>
				
			</div>
			<!-- /col-two -->
			
			<div id="col-three">
				
				<h2>User's contacts (<%= @contact_count %>)</h2>
				
				<div class="contact-list-small">
				

					<div class="contact-list-small-item">
						<div class="contact-list-small-img">
							<a href="#" title=""><img src="img/user-small.jpg" alt="user-small" width="61" height="61" /></a>					
						</div>
						<div class="contact-list-small-text">
							<div class="contact-list-small-username">Mandy Nuss</div>
							<div class="contact-list-small-title">CEO LUSTIG AG</div>
							<div class="contact-list-small-email"><a href="#" title="mailto:test@test.de">test@test.de</a></div>
						</div>
						<div class="clear"><!-- clear --></div>
					</div>
					<!-- /contact-list-small-item -->
					<div class="contact-list-small-item">
						<div class="contact-list-small-img">
							<a href="#" title=""><img src="img/user-small.jpg" alt="user-small" width="61" height="61" /></a>					
						</div>
						<div class="contact-list-small-text">
							<div class="contact-list-small-username">Mandy Nuss</div>
							<div class="contact-list-small-title">CEO LUSTIG AG</div>
							<div class="contact-list-small-email"><a href="#" title="mailto:test@test.de">test@test.de</a></div>
						</div>
						<div class="clear"><!-- clear --></div>
					</div>
					<!-- /contact-list-small-item -->
					<div class="contact-list-small-item">
						<div class="contact-list-small-img">
							<a href="#" title=""><img src="img/user-small.jpg" alt="user-small" width="61" height="61" /></a>					
						</div>
						<div class="contact-list-small-text">
							<div class="contact-list-small-username">Mandy Nuss</div>
							<div class="contact-list-small-title">CEO LUSTIG AG</div>
							<div class="contact-list-small-email"><a href="#" title="mailto:test@test.de">test@test.de</a></div>
						</div>
						<div class="clear"><!-- clear --></div>
					</div>
					<!-- /contact-list-small-item -->
				
				
				</div>
				<!-- /contact-list-small -->
			</div>
			<!-- /col-three -->
			
			<div class="clear"><!-- clear --></div>
			






<!--<p class="message-count"><span class="label"># of --
  --Messages:</span><%= @message_count %></p> -->

