<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
	
<head>
	
  <title>[TITLE]</title>
	<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen" title="default" />
	<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" title="default" />
	<link rel="stylesheet" href="stylesheets/dropdown.css" type="text/css" media="screen" title="default" />
  <!--<%= stylesheet_link_tag :all %>-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 	<!-- css -->
	
	<!-- override for IE-->
	
  	<!--[if IE 6]>
	<style type="text/css" media="all">@import "css/ie6.css";</style>
  	<![endif]-->
  	
  	<!--[if IE 7]>
        <style type="text/css" media="all">@import "css/ie7.css";</style>
        <![endif]-->
	
	<!-- scripts -->
	<script type="text/javascript" src="js/main.js"></script>
	
</head>
<body>
  <a name="tothetop"></a>
  <div id="main">
<%= render :partial => 'header' %>

		<div id="content-holder">
		  <%= yield %>
		</div>
		<!-- /content-holder -->
  </div>
  <!-- /main -->
	

<%= render :partial => 'footer' %>

  </body>
</html>
